---
layout: blank
---

{%- comment -%}

When adding a new page with default layout, you may specify, in liquid syntax
the attribute "align" with the values "center", "left" or "right". This will
align all the page's content in the desired mode.

{%- endcomment -%}


<main>
  <article>
    <header>
      <h1><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
    </header>
    {% if page.align %}
    <div class="text-{{ page.align }}">
    {% else %}
    <div>
    {% endif %}
      {{ content }}
    </div>
    {% if site.comments.isso and page.comments %}
    <hr><div id="isso-thread"></div>
    {% endif %}
    {% if site.comments.disqus and page.comments %}
    <hr><div id="disqus_thread"></div>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    {% endif %}
  </article>
</main>
